h1 {
    font-size: 56px;
    font-family: 'Roboto';
}

header {
    display: flex;
    justify-content: center;
}

.card {
    width: 117px;
    height: 146px;
    background-color: white;
    border-radius: 5px;
}

.card:hover .back-face {
    transform: rotateY(0deg);
}

.card:hover .front-face {
    transform: rotateY(-180deg);
}

.face {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.img__card {
    width: 100px;
    height: 100px;
    margin: 20px 20px 10px 10px;
}

.all__cards {
    display: flex;
    justify-content: center;
    gap: 34px;
    margin-bottom: 34px;
}

body {
    background-color: #F23F42;
}

@media (max-width: 600px) {
    .all__cards {
        flex-direction: column;
        align-items: center;
    }
    header {
        text-align: center;
    }
}