h1 {
    font-size: 56px;
    font-family: 'Roboto';
}

header {
    display: flex;
    justify-content: center;
}

.card {
    width: 117px;
    height: 146px;
    background-color: white;
    border-radius: 5px;
    backface-visibility: hidden;
}

.face {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.back-face {
    transform: rotateY(180deg);
}

.img-card {
    width: 100px;
    height: 100px;
    margin: 20px 20px 10px 10px;
}

.img-face {
    width: 30px;
    height: 30px;
    display: flex;
}

.all-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 34px;
    margin-bottom: 34px;
}

body {
    background-color: #F23F42;
}

@media (max-width: 600px) {
    .all-cards {
        flex-direction: column;
        align-items: center;
    }
    header {
        text-align: center;
    }
}